form {
  top:0;
  padding-top: 20px;
  justify-content: center;
  background-image: url('/assets/image.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  padding-bottom: 40px;
}

mat-card {
  max-width: 1000px;
  width: 100%;
  margin-top: 60px;
  margin-bottom: auto;
  padding: 40px;
  background-color: white;
  border: 5px solid #deddeb;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  margin-left: 200px;


}

.form-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}

.image-uploader {
  flex: 1;
  padding: 20px;
  border: 2px dashed #ccc;
  border-radius: 8px;
  text-align: center;
  min-width: 250px;
  max-width: 300px;
  background-color: #f9f9f9;
}

.image-preview {
  width: 100%;
  max-width: 250px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 10px;
}

.right-section {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

mat-form-field {
  width: calc(50% - 10px);
}

button {
  width: 50%;
  height: 50px;
  font-size: 18px;
}


.small-button {
  width: 40px;
  height: 40px;
  padding: 4px;
  font-size: 16px;
  }
  .buttons button {
    font-size: 20px;  
    padding: 12px 24px;  
    height: 40px; 
    min-width: 200px; 
    white-space: nowrap; 
  }
  
  
  