div{
    height: 80%;
    display: grid;
    place-items: center;
    text-align: center;
    color:#6264b0;
}
.letter{
    top:350px;
    position: absolute;
}
.cover{
    top:10px;
    left:10px;
    width: 100px;
    height: 100px;
    background: white;
    position: absolute;
    z-index: 5;
}