<div class="pet-details-container">
  <mat-card>
    <button mat-icon-button color="primary"  routerLink="/">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <mat-card-title>🐾 Pet Details</mat-card-title>

    <div class="pet-info">
      <div class="image-container">
        <img *ngIf="imagePreview" [src]="imagePreview" class="image-preview" />
      </div>

      <div class="details">
        <p><strong>Name:</strong> {{ petForm.value.name }}</p>
        <p><strong>Category:</strong> {{ petForm.value.category.name }} (ID: {{ petForm.value.category.id }})</p>
        <p><strong>Status:</strong> {{ petForm.value.status }}</p>

        <p><strong>Tags:</strong></p>
        <ul>
          <li *ngFor="let tag of petForm.value.tags">{{ tag.name }}</li>
        </ul>
      </div>
    </div>

    <div class="actions">
      <button mat-raised-button color="primary">Edit</button>
      <button mat-raised-button color="warn">Delete</button>
    </div>
  </mat-card>
</div>
