.pet-details-container {
  position: relative;
  padding-top: 20px;
  justify-content: center;
  background-image: url('/assets/image.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh; 
  padding-bottom: 40px;
  
}


mat-card {
  max-width: 1000px;
  width: 100%;
  margin-top: 100px;
  margin-bottom: auto;
  padding: 40px;
  background-color: white;
  border: 5px solid #deddeb;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  margin-left: 250px;
  
}

.pet-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}

.image-container {
  flex: 1;
  padding: 20px;
  border: 2px dashed #ccc;
  border-radius: 8px;
  text-align: center;
  min-width: 250px;
  max-width: 300px;
  background-color: #f9f9f9;
}

.image-preview {
  width: 100%;
  max-width: 250px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.details {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.details p {
  font-size: 18px;
  margin: 5px 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background-color: #f0f0f0;
  padding: 5px 10px;
  margin: 5px 0;
  border-radius: 4px;
}

.actions {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  margin-top: 20px;
}

button {
  width: 150px;
  height: 50px;
  font-size: 18px;
}

.small-button {
  width: 40px;
  height: 40px;
  padding: 4px;
  font-size: 16px;
}
