
<div class="filter">

  <form class="form">
    <mat-form-field class="search_field">
      <mat-label>Favorite food</mat-label>
      <input matInput placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field>
  </form>

  <section>
    <div class="search_button">
      <button mat-raised-button class="search">Basic</button>
    </div>
  </section>

  <div class="selector">
    <mat-form-field>
      <mat-select [(value)]="selectedStatus" (selectionChange)="getPetList()">
        <mat-option value="" disabled>Select a status</mat-option>
        <mat-option  *ngFor ="let stat of status" [value]="stat.value">{{stat.viewValue}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  </div>

  <div class="carder" *ngFor = "let pet of petlist">
    <div>
      <mat-card class="example-card" appearance="outlined" >
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{pet.name}}</mat-card-title>
          <mat-card-subtitle>{{pet.category?.name}}</mat-card-subtitle>
          <div class="example-button-container">
            <button mat-fab extended>
              <mat-icon></mat-icon>
              {{pet.status}}
            </button>
          </div>
        </mat-card-header>
        <img mat-card-image [src]="pet.photoUrls" alt="Photo of a Shiba Inu">
        <mat-card-footer class="example-card-footer">
          <mat-chip-set aria-label="Chihuahua traits">
              <mat-chip *ngFor="let tag of pet.tags">{{tag.name}}</mat-chip>
          </mat-chip-set>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>

<div class="paginator">
 <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
</mat-paginator>
</div>