.container{
  top:0;
  padding-top:20px;
  justify-content: center;
  background-image: url('/assets/image.jpg');
  background-position: center;
  background-size: cover;
<<<<<<< HEAD
  background-attachment: fixed;
  width: 100%;
  padding-bottom: 170px;
  position: absolute;
}
.menuButton{
  background: grey;
  border-radius: 10px;
  margin-top: 5px;
  margin-left: 30px;
=======
  background-attachment:fixed;
  width:100%;
  padding-bottom:170px;
  position:absolute;
>>>>>>> 37837fef1e94511490fde904b9e51b076949da20
}

.head{
  top:0;
  padding-top: 20px;
  justify-content: center;
  background-image: url('/assets/image.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 60px;
  position: absolute;
  position: fixed;
  z-index: 1;
}

.back{
  top:17px;
  left:197px;
  width:961px;
  height:62px;
  background:linear-gradient(90deg, 	#deddeb 62.3%, transparent 62.3% 77.3%, 	#deddeb 0);
  position:absolute;
}

.filter{
  top:20px;
  margin-left:200px;
  position:absolute;
}

.form {
  width:100%;
  height:100%;
  display:flex;
  justify-content:space-between;
}

.search_field{
  margin-right:10px;
  width:500px;
}

.search_button{
  margin-right: 150px;
  max-width: 600px;
}

.search{
  height:55px;
}

.statusCard, .idCard{
  display: flex !important;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap:40px;
}
.statusCard {
  margin: auto;
  margin-left: 10px;
}
.idCard{
  margin-left: 10px;
}

.card{
  top:100px;
<<<<<<< HEAD
  width:400px;
  height:580px;
  outline: 3px solid 	#D3D3D3;
=======
  width:300px;
  height:435px;
  outline: 3px solid 	#deddeb;
>>>>>>> 37837fef1e94511490fde904b9e51b076949da20
  cursor: pointer;
}
  
  .image-header{
    background-size: cover;
  }
  .image{
    width:300px;
    height: 300px;
  }
  .card-footer {
    padding: 16px;
  }
  .button-container {
    display: flex;
    top:5px;
    left: 200px;
    width: 90px;
    position: absolute;
  }
  .stat-Button{
    width:90px;
    padding-left: 20px;
  }

  .paginator{
    margin-top: auto;
    right:20px;
    bottom:10px;
    position:fixed;
    background:	#deddeb;
    outline:3px solid #deddeb;
  }

  