.menuButton{
    background:	#D3D3D3;
    border-radius: 10px;
    margin-top: 25px;
    margin-left: 40px;
    z-index: 2;
<<<<<<< HEAD
    position: absolute;
  }
  
=======
    position: fixed;
  }
>>>>>>> 1201735dee356109f5b52f1985ae849a2055a36b
